<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 对应Mapper接口-->
<mapper namespace="com.hopkin.wiki.mapper.TestMapper" >

    <select id="list" resultType="com.hopkin.wiki.domain.Test">
        select  `id`, `name`, `password` from `test`
    </select>

</mapper>
